
body{
    font-family: 'Montserrat Alternates', sans-serif;
}

.wrapper{
    height: 100%;
    background-color: orangered;
}

h1{
    padding: 5px;
}

/* ! se voglio centrare il contenuto (testo) - lo dovrò dare al parent in questo caso alla row*/
/* .align-center{
    text-align: center; 
    line-height: 42px; 
} */

/* *oppure do direttamente ai contenuti la direzione - che lo darò al div stesso*/

/* .center{
    display: flex;
    justify-content: center;
    align-items: center;
} */


.viola{
    display: flex;
    height: 50px; 
    align-items: center;
    color:whitesmoke;
    justify-content: center;
    border: 1px solid white;
    background-color: blueviolet;
}

.green{
    display:flex;
    height: 80px;
    color: black;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
}

.margin-right{
    border-right: 2px solid orangered;
}

.heavy-setting{
    border: 20px solid magenta;
}

.empty{
    height: 30px;
}






