
body{
    font-family: 'Montserrat Alternates', sans-serif;
}

.wrapper{
    height: 100%;
    background-color: unset;
}

h1{
    padding: 5px;
}

/* ! se voglio centrare il contenuto (testo) - lo dovrò dare al parent in questo caso alla row*/
/* .align-center{
    line-height: 42px; 
    text-align: center; 
} */

/* *oppure do direttamente ai contenuti la direzione - che lo darò al div stesso*/

/* .center{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.viola{
    display: flex;
    height: 50px; 
    align-items: center;
    color:whitesmoke;
    justify-content: center;
    border: 1px solid white;
    background-color: blueviolet;
}

.green{
    display:flex;
    height: 80px;
    color: black;
    align-items: center;
    justify-content: center;
    background-color: green;
}

/* !! Problema: perchè alle prime due colonne del nested non mi centra il testo ? a meno che non dia txt aline center */
.txt-center{
    text-align: center;
}


.border-right{
    border-right: 2px solid blueviolet;
}

.heavy-setting{
    border: 20px solid blueviolet;
}

.empty{
    height: 30px;
}






